<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <link rel="stylesheet" href="{{ static('css/dashboard.css') }}">

    <script src="https://code.jquery.com/jquery-3.5.1.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.0/jquery.min.js"></script>
    <script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>

    <title>wotnot.io</title>
</head>

<body>
    <div class="container-fluid">
        <div class="header">
            <img src="{{ static('img/WOTNOT.png') }}" alt="wotnot_logo" width="4%" height="4%" onclick="window.location.href='{{ url('index') }}';">
            <span style="font-weight:bold; opacity:0.8;">WOTNOT</span>
            <button type="submit" id="btn_query" class="btn btn-primary" style="float:right; font-size:16px; width:120px; margin-right:2%;" onclick="get_selected_option_parameters()">Query</button>
            <select name="timing" id="timing" style="padding:9px; font-size:16px; width:120px; margin-right:12px; float:right">
                <option value="15m">15 Minutes</option>
                <option value="30m">30 Minutes</option>
                <option value="1h">1 Hour</option>
                <option value="3h">3 Hours</option>
                <option value="6h">6 Hours</option>
                <option value="12h">12 Hours</option>
                <option value="24h">24 Hours</option>
            </select>
        </div>
    </div>
    <div class="container-fluid shadow-sm p-3 mb-5 bg-white rounded">
        <h1 class="d-flex justify-content-center" style="font-weight:bold;">
            Predict customer’s emotion
        </h1>
        <h1 class="d-flex justify-content-center" style="font-weight:bold;">
            while they communicate with Chatbot
        </h1>
    </div>
    <div class="container-fluid">
        <div class="row">
            <div class="col">
                <div class="table-wrapper-scroll-y my-custom-scrollbar col-lg-6" id="predicted_emotion" style="margin-left:1%;">
                    <a id="top"></a>
                    <table class="table table-hover">
                        <thead class="table-primary">
                            <tr>
                                <th scope="col">Thread ID</th>
                                <th scope="col">Overall Emotion</th>
                            </tr>
                        </thead>
                        <tbody>
                            {% for idx in range(response['overall_emotion_list']|length) %}
                                <tr>
                                    {% if response['overall_emotion_list'][idx] == "Positive" %}
                                        <td style="color: blue;">{{ response['thread_ids'][idx] }}</td>
                                        <td style="color: blue;">{{ response['overall_emotion_list'][idx] }}</td>
                                    {% elif response['overall_emotion_list'][idx] == "Negative" %}
                                        <td style="color: red;">{{ response['thread_ids'][idx] }}</td>
                                        <td style="color: red;">{{ response['overall_emotion_list'][idx] }}</td>
                                    {% else %}
                                        <td style="color: #FF8C00;">{{ response['thread_ids'][idx] }}</td>
                                        <td style="color: #FF8C00;">{{ response['overall_emotion_list'][idx] }}</td>
                                    {% endif %}
                                </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                    <div style="display:inline-block; vertical-align:bottom; font-size:24px; margin-left:1%; margin-bottom:2%">
                        <a class="text-primary" href="#top">Back to Top!</a>
                    </div>
                </div>
            </div>
            <div class="col">
                <div class="row">
                    <div class="col-lg-6" id="pieChart_emotion" style="margin-left:20%; width:600px; height:600px;"></div>
                </div>
            </div>
        </div>
    </div>
    <div class="overlay">
        <div class="center">
            <div class='loader' id='searching-loader' style="display:none;"></div>
        </div>
    </div>
</body>
</html>

<script type="text/javascript">
    var pos_cnt = {{ response['emotion_count_threads']["Positive"] }}
    var neg_cnt = {{ response['emotion_count_threads']["Negative"] }}
    var neu_cnt = {{ response['emotion_count_threads']["Neutral"] }}
    plot_chart(pos_cnt, neg_cnt, neu_cnt)

    localStorage.setItem(1, "15m");
    let get_selected = localStorage.getItem(0);
    console.log(get_selected)
    document.getElementById('timing').value = get_selected

    function plot_chart(pos_cnt, neg_cnt, neu_cnt){
        google.charts.load('current', {'packages':['corechart']});
        google.charts.setOnLoadCallback(draw_pie);

        function draw_pie() {
            var pie_data = new google.visualization.DataTable();
            pie_data.addColumn('string', 'Emotion');
            pie_data.addColumn('number', 'No. of Response');

            pie_data.addRows([
            ["Positive", pos_cnt],
            ["Negative", neg_cnt],
            ["Neutral", neu_cnt]]);

            var options = {
              fontSize: 17,
            };
            var chart = new google.visualization.PieChart(document.getElementById('pieChart_emotion'));
            chart.draw(pie_data, options);
        }
    }
    function get_selected_option_parameters(){
        var url = "/dashboard/"
        idx = document.getElementById("timing").selectedIndex;
        get_time = document.getElementById("timing").options;
        url += get_time[idx].value;
        localStorage.setItem(0, get_time[idx].value);
        window.location.href = url;
    }

    $(document).ready(function(){
        $("#btn_query").click(function(){
            $.ajax({
               type: 'post',
               async: true,
               beforeSend: function (xhr) {
                    $('.overlay').show();
                    $('#searching-loader').show();
                },
                success: function (data) {
                  $('#searching-loader').hide();
                }
            });
        });
    });
</script>
